:root {
    margin: 0;
    padding: 0;
    background-color: #82B1FF;
    --primary-color:  #0D47A1;
    --button-color:  rgb(54, 54, 242);
    --shadow-color: rgb(194, 9, 178);

}
header {
    font-size: 4rem;
    font-weight: bold;
    /* text-shadow: 3px 2px 4px var(--shadow-color); */
    display: flex;
    justify-content: center;
    padding: 30px;
    color : black;
    font-style: italic;
}
#buttons {
    display: flex;
    flex: content;
    justify-content: center;
    gap: 30px;
    background-color: var(--primary-color);

}
.button> img{
    width:150px;
    height: 150px;
}
.button {
    margin: 20px;
    background: none;
    border: none;
}
.button > img:hover {
    border-radius: 30%;
    transition: .3s ease;
}

.display-score {
    display: flex;
    justify-content: center;
    gap: 30px;
}
.textOfScore {
    box-shadow: 3px 3px 4px var(--primary-color);
    font-weight: bold;
    font-size: 1.5rem;
    color: black;
    /* text-shadow: 4px 4px 4px  var(--shadow-color); */
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 2px solid var(--primary-color);
    border-radius: 12px;
    padding: 3px 30px;
    margin: 30px ;

    
}

#player-score {
    align-self: center;
}
#computer-score {
    align-self: center;
}

.displayWinner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--primary-color);
    font-size: 2rem;
    font-weight: bold;
    /* padding: 10px 60px; */


}
.display {
    display: none;
    align-self: center;

}
.refresh-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

#refresh-btn {
    font-family:'Times New Roman', Times, serif;
    font-size: 1.2rem;
    padding: .5rem;
    color: white;
    border-radius: 6px;
    background-color: var(--primary-color);
    margin-top: 20px ;
}
#refresh-btn:hover{
    background-color: var(--shadow-color);
}